= form_for @entry do |f|
  	- if @entry.errors.any?
	    #error_explanation
	      h2 = "#{pluralize(@entry.errors.count, "error")} prohibited this entry from being saved:"
	      ul
	        - @entry.errors.full_messages.each do |message|
	          li = message

 	.col-md-12
 		.show-field
	 		=label_tag 'Nome:'
	 		=f.text_field :name
	 	.panel.panel-default
	 		.panel-heading	Preços / Disponibilidade / Reservas
	 		.panel-body
		 		.show-field
		 			=label_tag 'Desde:'
		 			=text_field_tag 'desde',nil, class:'datepicker'
		 			=label_tag 'ate:'
		 			=text_field_tag 'ate',nil, class:'datepicker'
		.panel.panel-default
	 		.panel-heading Livro de hóspedes
	 		.panel-body
	 	.panel.panel-default
	 		.panel-heading Informação adicional
	 		.panel-body	
	 			.col-md-4
		 			.field
		 				=label_tag 'Cidade'
		 				=f.check_box :iscity
		 			.field
		 				=label_tag 'Prais'
		 				=f.check_box :isbeach
		 			.field
		 				=label_tag 'Campo'
		 				=f.check_box :iscountryside	
		 			.field
		 				=label_tag 'Rural'
	 					=f.check_box :isrural
	 				.field
		 				=label_tag 'Sky area'
	 					=f.check_box :isskiarea
	 				.field
		 				=label_tag 'Montanhas'
	 					=f.check_box :ismountains
	 				.field
		 				=label_tag 'Cozinha'
	 					=f.check_box :iskitchen	
	 				.field
		 				=label_tag 'kitchinette'
	 					=f.check_box :iskitchinette	
	 				.field
		 				=label_tag 'Sala de jantar'
	 					=f.check_box :isseparatedining
	 				.field
	 					=label_tag 'Lareira'
	 					=f.check_box :isfireplace
	 				.field
	 					=label_tag 'Telefone'
	 					=f.check_box :istelephone
	 				.field
	 					=label_tag 'fax'
	 					=f.check_box :isfax	
	 				.field
	 					=label_tag 'internet wi-fi'
	 					=f.check_box :isinternetwificonnection	
	 				.field
	 					=label_tag 'Vista para o lago'
	 					=f.check_box :islakeview
	 				.field
	 					=label_tag 'Vista para a piscina'
	 					=f.check_box :ispoolview
	 				.field
	 					=label_tag 'Jardim'
	 					=f.check_box :isgarden
	 				.field
	 					=label_tag 'Terraço'
	 					=f.check_box :isterrace	
	 				.field
	 					=label_tag 'BBQ'
	 					=f.check_box :isbbq	
	 				.field
	 					=label_tag 'Piscina privada'
	 					=f.check_box :isprivateswimmingpool
	 				.field
	 					=label_tag 'Piscina partilhada'
	 					=f.check_box :issharedswimmingpool	
	 				.field
	 					=label_tag 'Jacuzzi'
	 					=f.check_box :isjacuzzi	
	 				.field
	 					=label_tag 'Vida noturna'
	 					=f.check_box :isnightlife
	 				.field
	 					=label_tag 'Parasailing'
	 					=f.check_box :isparasailing	
	 				.field
	 					=label_tag 'Ski'
	 					=f.check_box :isskiing															
	 			.col-md-4
	 				.field
	 					=label_tag 'Fogão'
	 					=f.check_box :iscooker
	 				.field
	 					=label_tag 'Forno'
	 					=f.check_box :isove	
	 				.field
	 					=label_tag 'Microondas'
	 					=f.check_box :ismicrowave
	 				.field
	 					=label_tag 'Frigorífico'
	 					=f.check_box :isrefrigerator
	 				.field
	 					=label_tag 'Congelador'
	 					=f.check_box :isfreezer	
	 				.field
	 					=label_tag 'Torradeira'
	 					=f.check_box :istoaster	
	 				.field
	 					=label_tag 'Máquina de café'
	 					=f.check_box :iscoffemachine	
	 				.field
	 					=label_tag 'Máquina de lavar loiça'
	 					=f.check_box :isdishwater							
	 				.field
	 					=label_tag 'Máquina de lavar roupa'
	 					=f.check_box :iswashmachine
	 				.field
	 					=label_tag 'iskitchenware'
	 					=f.check_box :iskitchenware
	 				.field
	 					=label_tag 'alarme'
	 					=f.check_box :isalarm
	 				.field
	 					=label_tag 'tv'
	 					=f.check_box :istv
	 				.field
	 					=label_tag 'tv cabo'
	 					=f.check_box :iscablesatelitetv
	 				.field
	 					=label_tag 'sauna'
	 					=f.check_box :issauna
	 				.field
	 					=label_tag 'Vista para o rio'
	 					=f.check_box :isriverview	
	 				.field
	 					=label_tag 'Mesa de ténis'
	 					=f.check_box :istabletennis
	 				.field
	 					=label_tag 'Campo de ténis'
	 					=f.check_box :istenniscourt
	 				.field
	 					=label_tag 'Parque privado'
	 					=f.check_box :isprivateparking
	 				.field
	 					=label_tag 'Garagem'
	 					=f.check_box :isgarage
	 				.field
	 					=label_tag 'Golf'
	 					=f.check_box :isgolf
	 				.field
	 					=label_tag 'Kayaking'
	 					=f.check_box :iskayaking
	 				.field
	 					=label_tag 'Museus'
	 					=f.check_box :ismuseum

	 			.col-md-4
	 				.field
	 					=label_tag 'ispotspans'
	 					=f.check_box :ispotspans
	 				.field
	 					=label_tag 'isglassware'
	 					=f.check_box :isglassware
	 				.field
	 					=label_tag 'isbedlinen'
	 					=f.check_box :isbedlinen
	 				.field
	 					=label_tag 'Toalhas'
	 					=f.check_box :istowels
	 				.field
	 					=label_tag 'Aquecimento central'
	 					=f.check_box :iscentralheating
	 				.field
	 					=label_tag 'Ar condicionado'
	 					=f.check_box :isairconditioning
	 				.field
	 					=label_tag 'Ventoinhas'
	 					=f.check_box :isceilingfans	
	 				.field
	 					=label_tag 'Ventiladores'
	 					=f.check_box :isventilators	
	 				.field
	 					=label_tag 'Aquecimento eléctrico'
	 					=f.check_box :iselectricalheaters
	 				.field
	 					=label_tag 'radio'
	 					=f.check_box :isradio
	 				.field
	 					=label_tag 'Stereo'
	 					=f.check_box :isstereo
	 				.field
	 					=label_tag 'dvd'
	 					=f.check_box :isdvd
	 				.field
	 					=label_tag 'cd player'
	 					=f.check_box :iscdplayer
	 				.field
	 					=label_tag 'Vista para montanhas'
	 					=f.check_box :ismountainsview
	 				.field
	 					=label_tag 'Balcão'
	 					=f.check_box :isbalcony		
	 				.field
	 					=label_tag 'Bicicleta'
	 					=f.check_box :isbiking
	 				.field
	 					=label_tag 'Barco'
	 					=f.check_box :isboating
	 				.field
	 					=label_tag 'Pesca'
	 					=f.check_box :isfishing
	 				.field
	 					=label_tag 'Cavalos'
	 					=f.check_box :ishorsebackriding
	 				.field
	 					=label_tag 'Caça'
	 					=f.check_box :ishunting
	 				.field
	 					=label_tag 'Jetskiing'
	 					=f.check_box :isjetskiing	
	 				.field
	 					=label_tag 'Escalada'
	 					=f.check_box :isrockclimbing
	 				.field
	 					=label_tag 'Mergulho'
	 					=f.check_box :isscubadiving									

	.actions.btt-black = f.submit 'Actualizar'
