$red:#ff1d25;
$black:#333333;
$light-grey:#cccccc;
$grey:#727272;

@font-face {
	font-family: 'Charter';
	src:url('../fonts/Charter.ttc') format('ttc');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family: 'Charter';
}
.no-padding{
	padding: 0;
}



.btt-black{
	background-color: $black;
	-webkit-border-radius: 84px;
	-moz-border-radius: 84px;
	border-radius: 84px;
	padding: 3px 10px;
	border: none;
	color: white;
	font-family: 'Charter';
}
/*************HEADER*********************/

.flags{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 11111;
	ul{
		width: 50%;
		float: right;
		list-style: none;
		li.flag-item{
			width: 18%;
			display: inline-block;
			img{
				width: 95%;
			}
		}
	}
}

.navbar-row{
	position: absolute;
	width: 100%;
	top: 8%;
	margin: 0;
	background-color: $red;
	padding: 0;
	z-index: 11111;
	.nav-title{
		color:white;
		font-size:3.4em;
		font-family: 'Charter';
		font-weight: bold;
	}

	.nav.navbar-nav{
		width: 60%;
		float: right;
		margin-top: 2.1%;

		li{
			font-size: 1.3em;
			color:white;
			margin-right: 10%;
			font-family: 'Charter';
			font-weight: bold;
			a{
				color:white;
				padding: 0;
			}
			a:hover{
				background-color: transparent;
				border-bottom: 2px solid $light-grey;
				color:$light-grey;
			}
		}

		li:last-child{
			margin: 0;
		}
		li.link-active a{
			color:$black;
			border-bottom: 2px solid #000;
		}
		
	}
}

/******************HOMEPAGE************************/

.search-home{
	background-color: $red;
	height: 100px;
}

.txt-center{
	text-align: center;
	font-family: 'Charter';
	font-weight: bold;
}

hr{
	border-color: $light-grey;
}

.txt-property{
	font-size: 1.5em;
	font-family: 'Charter';
	font-weight: bold;
}

.description{
	font-family: 'Charter';
	font-size:1.2em;
}

.dates{
	font-family: 'Charter';
	font-size: 1em;
	color:$grey;
}

.btt-see-more{
	
	a{
		padding-top: 2%;
		padding-bottom: 2%;
		padding-left: 12%;
		padding-right: 12%;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		background-color: $black;
		color:white;
		font-family: 'Charter';
	}
}

.search{
	margin-top: 0%;
	padding: 2%;
}

/***************** GENERAL PUBLIC *********************/
.public-container{
	position:relative;
	margin-top:15%;
	h1.title{
		font-size: 2.2em;
		font-family: 'Charter';
	}
}

/****************CONTACTS**************/
.contacts{
	.subtitle{
	font-weight:bold;
	text-align:center;
	}
	.address{
		font-size:1.5em;
		color:$grey;
		text-align:center;
	}
	.item{
		text-align: center; 
		font-size: 1.3em;
		
		.item-title{
			color:$grey;
		}
	}
}

.google-maps{
	margin:0 auto;
	text-align: center;
}

/***************FOOTER****************************/

.footer-row{
	margin:0;
	margin-top:5%;
	width:100%;
	background-color: $black;
	position:relative;
	bottom:0;
	ul{
		padding-top: 3%;
		padding-bottom: 5%;
		list-style: none;
		li{
			display: inline-block;
			font-family: 'Charter';
			font-weight: bold;
			color:white;
			margin-right: 22%;
			font-size: 1.3em;
			a{
				color:white;
			}
		}
		li:last-child{
			margin-right: 0;
		}
	}
}