$red:#ff1d25;
$black:#333333;
$light-grey:#cccccc;
$grey:#727272;
$dark-red:#b02427;

@font-face {
	font-family: 'Charter';
	src:url('../fonts/Charter.ttc') format('ttc');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family: 'Charter';
}

.not-active{
	display:none;
}



.no-padding{
	padding: 0;
}

.grey{
	color:$grey;
	font-weight:bold;
}

.image-display{
	margin-bottom: 1%;
	
	img{
		width: 100%;
		height: 300px;
	}
} 

.txt-center{
	text-align: center;
}

.red{
	color:$red;
}

.big-text{
	font-size:2.2em;
	padding-bottom:3%;
}

.show-price{
	margin-bottom:10%;
}
.bold{
	font-weight:bold;
}

.sub-title{
	font-size:2em;
}

.arrow{
	float:right;
}

.login{
	float:left;
}

.show-field{
	font-size:1.3em;
	padding:10px;
}

.field{
	padding:5px;
	margin-right:5%;
	width: 45%;
    float: left;
	label{
		width: 75%;
		float:left;
		text-align: left;
	}
	input[type="checkbox"]{
		float:right;
		text-align: right;
	}
}

.border-style{
	padding:20px;
	border-bottom:1px solid $light-grey;
	border-right:1px solid $light-grey;
	border-left:1px solid $light-grey;
}


.btt-black{
	background-color: $black;
	-webkit-border-radius: 84px;
	-moz-border-radius: 84px;
	border-radius: 84px;
	padding: 5px 12px;
	border: none;
	color: white;
	
	font-family: 'Charter';
}

.background-search{
	background-image:url("house-al.jpg");
	background-size:100%;
	height:400px;
	position:absolute;
	top:0;
	width:100%;
}

.search-container{
	position:relative;
	margin-top:35%;
	h1.title{
		font-size: 2.2em;
		font-family: 'Charter';
	}
}
/*************HEADER*********************/

.flags{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 11111;
	ul{
		width: 50%;
		float: right;
		list-style: none;
		li.flag-item{
			width: 18%;
			display: inline-block;
			img{
				width: 95%;
			}
		}
	}
}

.navbar-row{
	position: absolute;
	width: 100%;
	top: 8%;
	margin: 0;
	background-color: $red;
	padding: 0;
	z-index: 11111;
	.nav-title{
		color:white;
		font-size:3.4em;
		font-family: 'Charter';
		font-weight: bold;
	}

	.nav.navbar-nav{
		width: 64%;
		float: right;
		margin-top: 2.1%;

		li{
			font-size: 1.3em;
			color:white;
			margin-right: 10%;
			font-family: 'Charter';
			font-weight: bold;
			a{
				color:white;
				padding: 0;
			}
			a:hover{
				background-color: transparent;
				border-bottom: 2px solid $light-grey;
				color:$light-grey;
			}
		}

		li:last-child{
			margin: 0;
		}
		li.link-active a{
			color:$black;
			border-bottom: 2px solid #000;
		}
		.link-personal-area{
			margin-right:1%;
			font-size: 0.8em;
			
		}

		.logout{
			
			font-size: 0.8em;
			a{
				line-height: 1;
			}
		}

		.open{
			.dropdown-menu{
				display: block;
				li a{
					color:$light-grey;
					font-size: 1.2em;
				    text-align: center;
				    padding: 5px;
				    margin: 0;
				}
				li a:hover{
					color:$grey;
					text-decoration: none;
					border:none;
				}
			}
		}
	}
}

.nav-tabs{
	border-bottom:1px solid $light-grey;
}

.nav-tabs > li.current{
	
	position: relative;
	display: block;
	padding: 10px;
	border-right:1px solid $light-grey;
	border-top: 1px solid $light-grey;
	border-left: 1px solid $light-grey;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom:2px solid white;
	
    color: $dark-red;
	span{
		position:relative;
		display: block;
		
	}
	
}

/******************HOMEPAGE************************/

.search-home{
	background-color: $red;
	height: 100px;
}

.txt-center{
	text-align: center;
	font-family: 'Charter';
	font-weight: bold;
}

hr{
	border-color: $light-grey;
}

.txt-property{
	font-size: 1.5em;
	font-family: 'Charter';
	font-weight: bold;
}

.description{
	font-family: 'Charter';
	font-size:1.2em;
}

.dates{
	font-family: 'Charter';
	font-size: 1em;
	color:$grey;
}

.btt-see-more{
	
	a,input{
		padding-top: 2%;
		padding-bottom: 2%;
		padding-left: 12%;
		padding-right: 12%;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		background-color: $black;
		color:white;
		font-family: 'Charter';
		border-style:none;
	}
}



.search{
	margin-top: 0%;
	padding: 2%;
	
}

.icon{
	width: 3%;
    display: inline;
    float: left;
}

.select-region{
	display:inline-block;
	
	width: 82%;
    margin-left: 4%;
}

.border{
	border-right:1px solid $light-grey;
}

.properties-home{
	margin-top: 3%;
}

.property-item{
	margin-bottom:3%;
}

/***************** GENERAL PUBLIC *********************/
.public-container{
	position:relative;
	margin-top:15%;
	h1.title{
		font-size: 2.2em;
		font-family: 'Charter';
	}
}

/****************CONTACTS**************/
.contacts{
	.subtitle{
	font-weight:bold;
	text-align:center;
	}
	.address{
		font-size:1.5em;
		color:$grey;
		text-align:center;
	}
	.item{
		text-align: center; 
		font-size: 1.3em;
		
		.item-title{
			color:$grey;
		}
	}
}

.google-maps{
	margin:0 auto;
	text-align: center;
}

/***************ABOUT US********************/
.image-about1{
	img{
		width: 100%;
	}
}
.text{
	p{
		font-size: 1.4em;
		color:$grey;
	}
}


/*************** ENTRIES INDEX ***************/
.entry{
	display:block;
	margin-bottom:5%;
	
}

.index-search{
	margin-left:10%;
	margin-top:10%;
}

.add-margin-top{
	margin-top:3%;
}


.book-container{
	
	border:1px solid $light-grey;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,ececed+100 */
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #fefefe 0%, #ececed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #fefefe 0%,#ececed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #fefefe 0%,#ececed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ececed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding:3%;

	.icon-calendar{
		width: 8%;
		float:left;
		display: inline-block;
	}
	.icon-guests{

		width: 8%;
		float:left;
		display: inline-block;
	}
	.break-space{
		margin-top: 5%;
		display: block;
		width: 100%;
		float: left;
	}
	.btt-book{
		margin-top: 5%;
		background-color: #333333;
		border-radius:10px;
		padding: 10px;
	   
	    width: 100%;
	    font-size: 1.5em;
	    text-align: center;
	}
}

/*********** SHOW ENTRY ********************/
.star{
	display:inline-block;
	img{
		width: 80%;
	}
}
.space{
	height:100px;
	width:100%;
}
.show-image-display{
	img{
		width: 100%;
		height: 400px;
	}
}
.line-bottom{
	display:block;
	width:100%;
	top: 27px;
    position: relative;
}
.show-entry{
	
	span{
		font-size: 1.2em;
	}
	.show-image{
		width: 30%;
		display: inline-block;
		padding:10px;
		img{
			width: 100%;
		}
	}
	.review{
		margin-top: 3%;
		.show-icon{
			img{
				width: 60%;
			}
		}
		
	}
	
	
	.margin{
		margin-top: 5%;
	}
	.description{
		line-height: 14px;
    	height: 50%;
	}
}
.comodaty{
	margin-right:3%;
}
/************ OWNERS ******************/

.form-container{
	border: 1px solid $light-grey;
    border-radius: 10px;
    background-color:#f2f2f2;
    padding:20px;
}

.form-field{
	padding: 15px;
    margin-bottom: 2%;
}

.lbl-field{
	display:inline-block;
	color:$grey;
	float:left;
	text-align:right;
	width: 26%;
}
.txt-field{
	width: 70%;
    display: inline-block;
    float: right;
    text-align: left;
    input{
    	display: inline-block;
    	width: 90%;
    	color:$black;
    }
}

.btt-enter{
	width:30%;
	display:inline-block;
	text-align: center;
    font-size: 1.5em;
    input{
    	padding:15px;
    	border-radius:20px;
    	width: 85%;	
    }
}
.btt-regist{
	display:inline-block;
	font-size:1em;
}

.actions{
	width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 1.4em;
    margin-top: 3%;
    padding:2%;
	input{
		background: none;
    	border: none;
		width: 100%;
	}
}
/***************FOOTER****************************/
.popular-destinations{
	margin-top:5%;
	.name{
		position:absolute;
		bottom:7%;
		background-color:$dark-red;
		width: 50%;
    	padding: 1%;
    	right: 13px;
    	opacity: 0.8;

		.white{
			color:white;
			font-size: 2em;
			float:right;
		}
	}

	img{
		width: 100%;
	}

	.margin-picture{
		margin-bottom: 8%;
	}
}


.footer-row{
	margin:0;
	margin-top:5%;
	width:100%;
	background-color: $black;
	position:relative;
	bottom:0;
	ul{
		padding-top: 3%;
		padding-bottom: 5%;
		list-style: none;
		li{
			display: inline-block;
			font-family: 'Charter';
			font-weight: bold;
			color:white;
			margin-right: 22%;
			font-size: 1.3em;
			a{
				color:white;
			}
		}
		li:last-child{
			margin-right: 0;
		}
	}
}